<footer class="flex  w-[100%] items-center gap-4 bg-zinc-800 p-6">
    <img src="./assets/images/logo-micro.png" alt="logo" width="50" height="60"/>
      <nav class="w-[100%]">
        <ul class="flex justify-end gap-4 px-5">
          <li>
            <a href="./index.html" class="text-white">Home</a>
          </li>
          <li>
            <a href="./speakers.html" class="text-white">Speakers</a>
          </li>
          <li>
            <a href="./info.html" class="text-white">Información</a>
          </li>
        </ul>
      </nav>
</footer>
