<nav class="flex w-[100%] items-center gap-4 bg-zinc-800 p-6">
    <img src="./assets/images/logo-micro.png" alt="logo" class="md:w-[3.5%] w-[10%]" />
    <div>
      <ul class="flex w-[100%] gap-4 px-5">
        <li>
          <a href="./index.html">
             <include src="views/button.html">{"page": "Inicio"}</include>
          </a>
        </li>
        <li>
          <a href="./speakers.html">
            <include src="views/button.html">{"page": "Speakers"}</include>
          </a>
        </li>
        <li>
          <a href="./info.html">
            <include src="views/button.html">{"page": "Info"}</include>
          </a>
        </li>
      </ul>
  </div>
</nav>